<header>
  <nav>
    <a href="/">
      <img src="/public/images/Logo.png" alt="Card Heroes Logo">
    </a>
    <form id="form" role="search">
      <input type="search" id="query" name="q"
       placeholder="Search..."
       aria-label="Search through site content">
      <button>Search</button>
    </form>
    <form class="" action="/login" method="GET">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </nav>
</header>
