<header>
  <nav>
    <a href="/">
      <img class="logo" src="/images/Logo.png" alt="Card Heroes Logo">
    </a>
    <form class="search" id="form" method="POST" action="/cards" role="search">
      <input type="search" id="query" name="q"
       placeholder="Search a Sport or Brand"
       aria-label="Search through site content">
      <button type="submit">🔍</button>
    </form>
    <% if (userID) { %>
      <div class="login-menu">
        <a href="/messages"><i class="fa-solid fa-message fa-2xl"></i></a>
        <a href="/cards"><i class="fa-solid fa-sheet-plastic fa-2xl"></i></a>

        <a href="/admin"><img class="avatar" src="https://i.pravatar.cc/55?img=<%= userID %>" alt=""></a>

        <form class="" action="/logout" method="GET">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
      </div>
    <% } %>

    <% if (!userID) { %>
    <form class="" action="/login" method="GET">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <% } %>

  </nav>
</header>
