<header>
  <nav>
    <main>
      <a href="/">
        <img class="logo" src="/images/Logo.png" alt="Card Heroes Logo">
      </a>
      <form method="GET" class="search" action="/cards" role="search">
        <input type="search"  id="search" placeholder="Search a Sport or Brand"
        aria-label="Search through site content">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <div class="search-menu"></div>
      </form>
      <% if (userID) { %>
      <div class="login-menu">
        <div class="links">
          <a href="/cards" title="Cards" class="link"><i class="fa-solid fa-sheet-plastic fa-2xl"></i></a>
          <a href="/messages" title="Messages" class="link"><i class="fa-solid fa-message fa-2xl"></i></a>
          <a href="/admin" title="Admin"><img class="avatar" src="https://i.pravatar.cc/200?img=<%= userID %>" alt=""></a>
        </div>
        <a href="/logout?origin=<%= currentURL %>" title="Logout" class="button">Logout</a>
      </div>
      <% } else { %>
      <div class="login-menu">
        <div class="links">
          <a href="/cards" title="Cards" class="link"><i class="fa-solid fa-sheet-plastic fa-2xl"></i></a>
        </div>
        <a href="/login?origin=<%= currentURL %>" title="Logout" class="button">Login</a>
       </div>
      <% } %>
    </main>
  </nav>
</header>
