<header>
  <nav>
    <a href="/">
      <img class="logo" src="/images/Logo.png" alt="Card Heroes Logo">
    </a>
    <form class="search" id="form" method="POST" action="/cards" role="search">
      <input type="search" id="query" name="q"
       placeholder="Search a Sport or Brand"
       aria-label="Search through site content">
      <button type="submit">🔍</button>
    </form>
    <% if (userID) { %>
      <h2> TEST SESSION ID</h2>
    <% } %>
    <form class="" action="/login" method="GET">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </nav>
</header>
