<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cards | Card Heroes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/card.css" />
  <link rel="stylesheet" href="/styles/listingCards.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/cards.js"></script>
  <script src="https://kit.fontawesome.com/519d339fcd.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="filter">
    <main>
      <select name="sport" class="filter-select sport" required>
        <option value="">Sport</option>
        <option value="baseball">Baseball</option>
        <option value="hockey">Hockey</option>
        <option value="soccer">Soccer</option>
        <option value="basketball">Basketball</option>
        <option value="football">Football</option>
      </select>
      <select name="brand" class="filter-select brand" required>
        <option value="">Brand</option>
        <option value="o-pee-chee">O-Pee-Chee</option>
        <option value="donruss">Donruss</option>
        <option value="upper deck">Upper Deck</option>
        <option value="topps">Topps</option>
        <option value="panini">Panini</option>
        <option value="futera">Futera</option>
        <option value="bowman">Bowman</option>
        <option value="fleer">Fleer</option>
      </select>
      <select name="price" class="filter-select price" required>
        <option value="">Price</option>
        <option value="DESC">Highest to lowest</option>
        <option value="ASC">Lowest to highest</option>
      </select>
    </main>
  </nav>
  <main class="main-data" data-favourites="<%= favourites %>">
    <div class="cards">
    <% for (let card of cards) { %>
      <div class="card-container">
        <%- include('./partials/_card.ejs', {card: card}) %>
        <div class="info">
          <% if (favourites.includes(card.id)) { %>
            <i class="fa-solid fa-star favourite-icon" title="Favourite"></i>
          <% } else { %>
            <i class="fa-regular fa-star favourite-icon" title="Favourite"></i>
          <% } %>
          <span class="price">$ <%= card.price %></span>
        </div>
      </div>
    <% } %>
    </div>
  </main>
</body>

</html>
