<!DOCTYPE html>
<html lang="en">
<head>
  <title>Card Heroes Market</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!--Queries-->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/brand_menu.js"></script>
  <script src="/scripts/sports_menu.js"></script>
  <script src="/scripts/allCards.js"></script>
  <script src="/scripts/price-menu.js"></script>

  <link rel="stylesheet" href="/styles/dropdown.css"/>
</head>
<body>
<nav>

  <div>
    <button id="get-sports">Sports</button>
    <ul>
      <% for (let sports of sport) { %>
        <li class="sport-dropdown hide-list"><%= sports.sport %></li>
      <% } %>
    </ul>
  </div>

  <div>
    <button id="get-brands">Brands</button>
    <ul>
      <% for (let brands of brand) { %>
        <li class="dropdown hide-list"><%= brands.brand %></li>
      <% } %>
    </ul>
  </div>

  <div>
    <button id="get-price">Price</button>
    <ul id="price-menu" class="hidden"></ul>
  </div>

</nav>
  <section id="all-cards"></section>
  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccerball.svg" alt="soccer-ball-loading">

</body>
</html>
