<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Heros</title>
</head>
<body>
<nav>
  <div class="dropdown">
    <button>Sports</button>
      <li class="dropdown-content">
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
    </li>
  </div>

  <div class="dropdown">
    <button>Brand</button>
      <li class="dropdown-content">
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
      </li>
  </div>

  <div class="dropdown">
    <button>Price</button>
    <input type="number" placeholder="min-price" name="min-price">
    <input type="number" placeholder="max-price" name="max-price">
  </div>
</nav>
<section></section>
<img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccerball.svg" alt="soccer-ball-loading">
</body>
</html>
