<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Card | Card Heroes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/newCard.css" />
  <!-- Fonts and icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://kit.fontawesome.com/519d339fcd.js" crossorigin="anonymous"></script>

</head>

<body>
  <main>
    <h1>New Card</h1>
    <div class="form-container">
      <side class="images-container">
        <div class="front-image"></div>
        <div class="back-image"></div>
      </side>
      <div class="fields-container">
        <form method="post" src="/cards/new">
          <input type="text" name="title" placeholder="Title" required />
          <input type="text" name="player_name" placeholder="Player Name" required />
          <div class="selects-container">
            <select name="sport" class="sport-select">
              <option value="baseball">Baseball</option>
              <option value="hockey">Hockey</option>
              <option value="soccer">Soccer</option>
              <option value="basketball">Basketball</option>
              <option value="football">Football</option>
            </select>
            <select name="brand" class="brand-select">
              <option value="o-pee-chee">O-Pee-Chee</option>
              <option value="donruss">Donruss</option>
              <option value="upper deck">Upper Deck</option>
              <option value="topps">Topps</option>
              <option value="panini">Panini</option>
              <option value="futera">Futera</option>
              <option value="bowman">Bowman</option>
              <option value="fleer">Fleer</option>
            </select>
          </div>
          <div class="button-container">
            <input type="text" name="price" placeholder="Price" required />
            <input type="submit" value="Create Card" />
          </div>
        </form>
      </div>
    </div>

  </main>
</body>

</html>
