<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card/:id</title>
</head>
<body>
  <div>
    <img src="" alt="photo of card">
    <img src="" alt="stage of card">
  </div>
  <div class="user-card-info">
    <div id="user-info">
      <img src="" alt="">
      <p>Jimmy Wright</p>
    </div>
    <div id="card-info">
      <div id="player-info">
        <p>Lionel Messi</p>
        <p>2020-21 Topps best of the best - assist makers</p>
      </div>
      <div>
        <p>Sport: Soccer</p>
        <p>Team: FC Barcelona</p>
        <p>League: UEFA Champions League</p>
        <p>Season: 2021-2022</p>
        <p>Graded: No</p>
        <p>Autographed: No</p>
        <p>Condition: 9/10</p>
      </div>
    </div>
    <div id="price-info">
      <h1>$10.05</h1>
      <div id="favourites">
        <form action="">
          <button>Contact Seller</button>
        </form>
        <form action="">
          <button> Add to favourites </button>
      </form>
      </div>
    </div>
  </div>
</body>
</html>
