<!DOCTYPE html>
<html lang="en">

<head>
  <title>Card Heroes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- header -->
  <%- include('partials/_header') %>

  <!-- Top  -->
  <section>
    <!-- left top division -->
    <div>
      <span>CELEBRATING THE SPORTS</span>
      <span>LEGENDS</span>
    </div>
    <div>
      <img src="#" alt="Show card 1">
      <img src="#" alt="Show card 2">
      <img src="#" alt="Show card 3">
    </div>
  </section>
  <!-- hot cards section  -->
  <section>
    <h2>HOT CARDS</h2>
    <!-- Grid 2 rows  -->
    <li>

    </li>
  </section>
  <!-- Top Brands Section -->
  <section>
    <li>
      <ul>
        <div class="brand"></div>
      </ul>
      <ul>
        <div class="brand"></div>
      </ul>
      <ul>
        <div class="brand"></div>
      </ul>
      <ul>
        <div class="brand"></div>
      </ul>
      <ul>
        <div class="brand"></div>
      </ul>
      <ul>
        <div class="brand"></div>
      </ul>
      <ul>
        <div class="brand"></div>
      </ul>
      <ul>
        <div class="brand"></div>
      </ul>
    </li>
  </section>
  <!-- Footer -->
  <%- include('partials/_footer') %>
</body>

</html>
