<!DOCTYPE html>
<html lang="en">

<head>
  <title>Card Heroes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/card.css" />
  <link rel="stylesheet" href="/styles/header.css">
  <!-- Fonts and icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />



  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script src="/scripts/card"></script>
</head>

<body>
  <!-- Header -->
  <%- include('partials/_header') %>
<div class="cards">

  <% for (let card of result) { %>
  <%- include('./partials/_card.ejs', {card: card}) %>
<% } %>
</div>

  <!-- Footer -->
  <%- include('partials/_footer') %>
</html>
