.main-container {
  position: relative;
  width: 300px;
  height: 420px;
  margin: 5% 0 2% 0;
}

.cards {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style:preserve-3d;
  transition: all 0.5s ease-in;
  &:hover{
    transform: rotateY(180deg);
    cursor: pointer;
  }
  .the-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .the-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }


  .card {
    width: 300px;
    height: 420px;
    transition: all 0.15s ease-in-out;
    margin-bottom: 5px;
  }


}
