$baseColor: #333;
$buttonColor: #a70b0b;
$squaresColor: rgb(66, 64, 64);
$shadowColor: rgb(35, 33, 33);

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $squaresColor;
  box-shadow: 0px -1.5px 0 rgb(88, 88, 88);
  width: 1440px;
  margin-top: 25px ;

  a {
    .logo {
      height: 100px;
      margin: 1.5rem;
    }
  }
}
