$squaresColor: #3F3F3F;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $squaresColor;
  border-top: 1px solid #5F5F5F;
  width: 100%;
  padding: 2em;

  .logo{
    height: 5em;
    margin-bottom: 1em;
  }

  p{
    color: white;
  }
}
