$baseColor: #333;
$buttonColor: #a70b0b;
$squaresColor: #3F3F3F;

header {
  width: 100%;
  background-color: $baseColor;
  position: fixed;
  top: 0;
  z-index: 9;
}

nav {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $squaresColor;
  padding: .4rem;
  margin: auto;
  filter: drop-shadow(5px 5px 5px #292929);

  main{
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo{
      height: 3em;
    }

    .search {
      position: relative;
      width: 440px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      input {
        width: 100%;
        padding: 0.5em;
        margin: 0 0 0 -1em;
        border-radius: 1em;
        border: 1px solid #333;
        background-color: #D9D9D9;
      }

      button {
        background: none;
        margin-left: -2em;
        border: none;
        height: 100%;
        cursor: pointer;
      }

      .search-menu {
        position: absolute;
        width:90%;
        top: 2.2em;
        border-radius: 0.5em;
        border: 1px solid #333;
        background-color: #D9D9D9;
        color: black;
        z-index: 999;

        li{
          list-style: none;
          padding: 1em;
          border-radius: 0.5em;
          cursor: pointer;

          &:hover{
            background-color: #F1BA0A;
          }
        }
      }
    }

    .login-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 300px;

      .links{
        display: flex;
        align-items: center;
        width: auto;
        margin-left: 2em;

        & > * {
          margin: 0 0.5em;
        }

        .link {
          background-color: none;
          color: #666666;

          &:visited{
            color: #666666;
          }

          &:hover{
            color: $buttonColor;
          }
        }
      }

      .avatar {
        border: 2px solid $squaresColor;
        border-radius: 50%;
        width: 55px;

        &:hover{
          border: 2px solid #A70B0B;
        }
      }

      .button {
        background-color: #A70B0B;
        border-radius: 2em;
        font-weight: bold;
        color: white;
        padding: 0.8em;
        width: 90px;
        cursor: pointer;
        text-align: center;

        &:hover {
          background-color: #b80e0e;
        }
      }
    }
  }
}
