main.main-herocard{
  flex-direction: column;

  .herocard-container{
    background-image: url('/images/stage.png');
    background-position: bottom;
    background-repeat: no-repeat;
    width: auto;
    min-height: 58em;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      position: relative;
      width: 300px;
      height: 420px;
      margin-top: -15em;
      transform-style:preserve-3d;
      transition: all 0.5s ease-in;
      cursor: pointer;

      &:hover{
        transform: rotateY(180deg);
      }

      .card-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 120%;


        &.front{
          backface-visibility: hidden;
        }

        &.back{
          backface-visibility: hidden;
          transform: rotateY(180deg)
        }


      }
    }
  }

 .info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -5em 0 2em 0;

    .info-block{
      min-width: 20em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #3F3F3F;
      border-top: 1px solid #5F5F5F;
      filter: drop-shadow(5px 5px 5px #292929);
      border-radius: 1em;
      padding: 2em;
      color: white;
      margin: 0 1em;

      img.avatar {
        border-radius: 50%;
        width: 8em;
      }

      h2{
        &.user-name{
          margin-top: 1em;
        }
      }

      p:first-of-type{
        margin-top: 1em;
      }

      p:last-of-type{
        margin-top: 1em;
      }

      p{
        text-transform: capitalize;
      }

      span{
        font-size: 2em;
        font-weight: bolder;
        color: #F6DE26;
      }

      .button-container{
        width: auto;
        height: 6.5em;
        display: flex;
        flex-direction: column;
        margin-top: 1em;

        .contact-btn{
          background-color: #A70B0B;
          border-radius: 2em;
          font-weight: bold;
          color: white;
          padding: 0.8em;
          width: 200px;
          cursor: pointer;
          text-align: center;
          margin-top: 1em;

          &:hover{
            background-color: #b80e0e;
          }
        }

        .fav-btn{
          background-color: #F1BA0A;
          border-radius: 2em;
          font-weight: bold;
          color: black;
          padding: 0.8em;
          width: 200px;
          cursor: pointer;
          text-align: center;

          &:hover{
            background-color: #edc951;
          }
        }
      }
    }
  }
}
