nav.filter{
  background-color: #3f3f3f;
  border-top: 1px solid #5f5f5f;
  width: 100%;
  height: 70px;
  padding: 0.8em;
  display: flex;
  filter: drop-shadow(5px 5px 5px #292929);
  justify-content: center;
  z-index: 10;
  margin-top: 5em;
  position: fixed;

  .main-filter{
    width: auto;
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -15.5em;

    select.filter-select {
      background-color: #D9D9D9;
      width: auto;
      padding: 0.5em;
      margin: 0 1em;
      border-radius: 1em;
      border: 1px solid #333;
      border-radius: 2em;
      cursor: pointer;

      &.selected {
        background-color: #F6DE26;
      }
    }
  }
}

.main-data{
  margin-top: 10em;

  .cards{
    margin-top: 2em;

    .card-container{
      margin-right: 5em;

      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }
}
