$squaresColor: rgb(66, 64, 64);


.top-main {
  display: flex;
  justify-content: center;
  height: 600px;

  div {
    width: 50%;
  }
}

.brandLogo {
  width: 150px;
}

.brands {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;

  .row1, .row2 {
    display: flex;
    flex-direction: row;
  }


    .brand {
      margin: 5px 30px;
      height: 200px;
      border-radius: 10%;
      background-color: $squaresColor;
      box-shadow: 8px 3px 3px rgb(28, 28, 28);

  }


    form {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }


}

.brandBtn {
  background-color: $squaresColor;
  width: 200px;
  height: 100px;
  margin-top: 40px;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: #333;
}

main{
  width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

