$squaresColor: rgb(66, 64, 64);
$shadowColor: rgb(35, 33, 33);

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .mid-section {
    margin-top: 25px;
  }
}
.top-main {
  display: flex;
  justify-content: center;
  height: 900px;
  background-image: url(../images/index_image.png);
  background-size: cover;
  margin-top: 25px;

  div {
    width: 50%;
  }
}

.brandLogo {
  width: 150px;
}

.brands {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;

  .row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


    .brand {
      margin: 25px 30px;
      height: 200px;
      border-radius: 10%;
      background-color: $squaresColor;
      box-shadow: 8px 3px 3px $shadowColor;

      &:hover{
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }


  }


    form {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }


}

.brandBtn {
  background-color: $squaresColor;
  width: 200px;
  height: 100px;
  margin-top: 40px;
  cursor: pointer;

}


*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: #333;
}

main{
  width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

