.form-container{
  display: flex;
  flex-direction: row;

  .images-container{
    display: flex;
    flex-direction: row;
    color: #777777;
    text-align: center;
    justify-content: center;

    .image-placeholder{
      background-color: #D9D9D9;
      border: 1px solid #333;
      width: 300px;
      height: 420px;
      cursor: pointer;

      &.back-image{
        margin-left: 2em;
      }
    }
  }
}

.fields-container{
  display: flex;
  margin-left: 2em;
  flex: 1 1 auto;
  align-items: center;

  form{
    flex: 1 1 auto;
    text-align: left;
  }

  .selects-container{
    display: flex;

    .sport-select, .brand-select{
      width: 50%;
    }

    .sport-select{
      margin-right: 1em;
    }

    .brand-select{
      margin-left: 1em;
    }
  }

  .button-container{
    display: flex;
    flex-direction: row;

    input[type="text"].price{
      margin-bottom: 0em;
      margin-right: 2em;
    }
  }
}

select, input[type="text"] {
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
  border: 1px solid #333;
  background-color: #D9D9D9;
}

input[type="submit"] {
  background-color: #A70B0B;
  border-radius: 2em;
  font-weight: bold;
  color: white;
  padding: 0.8em;
  width: 200px;
  cursor: pointer;

  &:hover {
  background-color: #b80e0e;
  }
}
