.fields-container{

  .selects-container{
    display: flex;

    .sport-select, .brand-select{
      width: 50%;
    }

    .sport-select{
      margin-right: 1em;
    }

    .brand-select{
      margin-left: 1em;
    }
  }

  .button-container{background-color: green;
    display: flex;
    flex-direction: row;
  }
}

form {
  margin: 2em auto;
  text-align: left;
}

select, input[type="text"] {
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
  border: 1px solid #333;
  background-color: #D9D9D9;
}

input[type="submit"] {
  background-color: #A70B0B;
  border-radius: 2em;
  font-weight: bold;
  color: white;
  padding: 0.8em;
  width: 200px;
  cursor: pointer;

  &:hover {
  background-color: #b80e0e;
  }
}
